:host {
	width: 21vw;
	height: 25vh;	
	overflow: hidden;
	position: relative;
	border: 5px solid #e0e0e0;
	margin: 0 1em 1em 0;
	cursor: pointer;
	outline: none;
}

p {
	padding: 1em;
	background-color: #e0e0e0;
	position: absolute;
	bottom: -67px;
	transition: bottom .3s;
}

:host:hover p, :host:focus p {
	bottom: -16px;
}

::content img, p {
	width: 100%;
}

@media (max-width: 800px) {
	:host {
		width: 100%;
		height: 40vh;
	}
}