.links {
	width: 100%;
}

a {
	padding: .5em;
	margin: .5em 0;
	color: white;
	text-decoration: none;
	border-radius: 1px;
	border-bottom: 5px solid;
	transition: border-width .3s, padding-bottom .3s;
}

a:focus, a:hover {
	color: white;
	outline: none;
	border-width: 0;
	padding-bottom: 13px;
}

a img {
	width: 24px;
	height: 24px;
	margin: 0 .5em 0 0;
}

a p {
	margin: 0;
}

a.github {
	background-color: #616161;
	border-color: #212121; 
	margin-right: 2em;
}

a.page {
	background-color: #2196F3;
	border-color: #1976D2; 
}

:host section:first-child article p:nth-child(2) {
	margin: 0 .5em;
}

::content img {
	margin-bottom: 2em;
}

#content {
	width: 44%;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
}

#images {
	margin-right: 2em;
	width: 50%;
}

@media (max-width: 800px) {
	section {
		flex-direction: column-reverse !important;
	}
	article {
		width: 100% !important;
	}

	#content {
		margin-bottom: 2em;
	}
}