<n-portfolio name="plakaten"  
		     month="03" 
		     year="2015"
			 link="http://www.plakaten.nanoplex.dk/">
			 
	<img src="/images/portfolio/plakaten-2.jpg" />
	<img src="/images/portfolio/plakaten-4.jpg" />
	<img src="/images/portfolio/plakaten-1.jpg" />
	<img src="/images/portfolio/plakaten-3.jpg" />
	<img src="/images/portfolio/plakaten-admin.jpg" />
	<img src="/images/portfolio/plakaten-admin-1.jpg" />

	<p>plakaten var mit eksamens projekt på hovedforløbet på webintegrator uddanelsen</p>
	<p>frontend desinget var lavet på forhånd resten er lavet af mig</p>
</n-portfolio>